@import '../variables.scss';
/* header.scss */
.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;

  button {
    color: black;

    @media (prefers-color-scheme: dark) {
      color: white;
      background-color: black;
    }
  }
}

.title-bar-left,
.title-bar-right {
  display: flex;
  align-items: center;
}

.dc-display {
  margin: 0 1rem;
}

.success {
  background-color: green;
  transition: opacity 0.5s ease-in-out;
}

.fail {
  background-color: red;
  transition: opacity 0.5s ease-in-out;
}

/* modal.scss */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* or some high value */
}

.modal-content {
  background: #fff;
  padding: 1rem;
  border-radius: 4px;
  min-width: 300px;
  max-height: 80vh;
  overflow-y: auto; /* optional scroll if needed */
  .item {
    margin: $margin-small;
    background: linear-gradient(135deg, #712b75 0%, #b83bd0 100%);
    color: #f8f8f8;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 8px;
    font-family: 'Cinzel', serif; // a nice fantasy vibe
    font-size: 1rem;
    cursor: pointer;
    text-shadow: 1px 1px 2px #000;
    box-shadow: 0 0 10px rgba(178, 67, 234, 0.6), inset 0 0 5px rgba(234, 112, 255, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px rgba(178, 67, 234, 0.8), 0 0 5px rgba(234, 112, 255, 0.6);
    }

    &:active {
      transform: scale(0.97);
      box-shadow: 0 0 5px rgba(178, 67, 234, 0.8), 0 0 3px rgba(234, 112, 255, 0.6);
    }
  }
}