@use './variables' as *;

.App-container {
  padding: 30px;
}

.dc-display {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.breakdown-container {
  margin-top: 20px;
  border: none;
  color: $dc-calculator-color-text-primary;
}

.add-effect-btn {
  height: fit-content;
}

.breakdown-container h2 {
  margin-top: 0;
}

.player-effects-container {
  background-color: $dc-calculator-color-background-blue;
}

/* shard styling */
.shard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
  position: relative;

  .img {
    z-index: 0;
    height: 613px;
  }
}

.shard-item {
  position: absolute;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  border-radius: $dc-calculator-border-radius-medium;

  &.shard-0 {
    top: 5.5%;
    right: 69.5%;
  }
  &.shard-1 {
    top: 5.5%;
    right: 50.5%;
  }
  &.shard-2 {
    top: 5.5%;
    right: 30.5%;
  }
  &.shard-3 {
    top: 5.5%;
    right: 10.5%;
  }
  &.shard-4 {
    top: 27%;
    right: 58.5%;
  }
  &.shard-5 {
    top: 27%;
    right: 39%;
  }
  &.shard-6 {
    top: 27%;
    right: 19.5%;
  }
  &.shard-7 {
  top: 47.5%;
  right: 70%;
  }
  &.shard-8 {
  top: 47.5%;
  right: 50%;
  }
  &.shard-9 {
  top: 47.5%;
  right: 30%;
  }
  &.shard-10 {
  top: 47.5%;
  right: 11%;
  }
}

.shard-num {
  background-color: $dc-calculator-color-surface;
  border-radius: 50%;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  margin: 0;
  text-align: center;
  line-height: 17px;
  font-weight: 600;
  color: $dc-calculator-color-text-primary;
}

.shard-btn {
  background-color: transparent;
  height: 35px;
  width: 43px;
  padding: 5px 15px 5px;
  color: $dc-calculator-color-text-inverse;
  border: none;

  &.White, &.Silver {
    color: black;
  }
  
  &:hover {
    background-color: $dc-calculator-color-shadow-subtle;
    transform: scale(1.2);
    border: 1px solid transparent;
    box-shadow: 0 0 10px $dc-calculator-color-shadow-subtle;
  }
}

.shard-btn.add {
  border-radius: $dc-calculator-border-radius-medium $dc-calculator-border-radius-medium 0 0;
}
.shard-btn.sub {
  border-radius: 0 0 $dc-calculator-border-radius-medium $dc-calculator-border-radius-medium;
}

/* Player chance */
.player-effects-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.whole-item {
  display: flex;
  flex-direction: column;
}

.effect-info-button {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.editable-title {
  margin-bottom: 1rem;
  cursor: pointer;
}

.editable-title-input {
  font-size: 2rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px solid $dc-calculator-color-border-muted;
  outline: none;
}
