@use './variables' as *;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $dc-calculator-color-background-blue;
}
:root {
  color-scheme: light;
}
