@use './variables' as *;

.effects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.effect-item {
    display: flex;
    height: fit-content;
    background-color: $dc-calculator-color-surface-alt;
    border-radius: 6px;
    gap: $dc-calculator-margin-medium;
    box-shadow: 0 0 4px 2px $dc-calculator-color-shadow-strong;
    
    h3 {
        padding: $dc-calculator-padding-medium;
    }
    &.open {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        padding: $dc-calculator-padding-medium;
        @media screen and (min-width: 400px) {
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
        }
    }
}

.effect-field {
    display: flex;
    flex-direction: column;

    * {
        font-size: 1.2rem;
    }

    &.checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}
