@import '../src/variables.scss';
@import '../src/index.scss';
@import '../src/App.scss';
@import '../src/Effects/Effects.scss';
@import '../src/EffectItem.scss';
@import '../src/PlayerChance.scss';
@import '../src/Header/header.scss';
