@import './variables.scss';

.shard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-chance-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: fit-content;
  max-height: 45px;
  overflow: visible;
}

.player-chance-details {
  color: $color-text-inverse;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
}

.player-chance-label {
  font-weight: bold;
  margin-right: 10px;
}

.player-mod-input {
  background-color: transparent;
  color: $color-text-inverse;
  border: none;
  border-radius: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 2rem;
  width: 40px;
  height: 40px;
}


.player-chance-text {
  width: 290px;
  max-width: 290px;
  text-align: center;
  z-index: 2;
  color: $color-text-inverse;
  margin-top: 430px!important;
}