@use '../variables' as *;

/* header.scss */
.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  z-index: 9999;

  position: sticky;
  top: 0;
  background-color: $dc-calculator-color-main-brown;
  color: $dc-calculator-color-text-inverse;

  text-align: center;

  button {
    color: $dc-calculator-color-text-inverse;
  }

  .title-bar-title {
    font-size: 4rem;
  }
}

.title-bar-left,
.title-bar-right {
  display: flex;
  align-items: center;
}

.dc-display {
  margin: 0 1rem;
}

.success {
  background-color: $dc-calculator-color-success;
  transition: opacity 0.5s ease-in-out;
}

.fail {
  background-color: $dc-calculator-color-error;
  transition: opacity 0.5s ease-in-out;
}

/* modal.scss */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* or some high value */
}

.modal-content {
  background: white;
  color: black;
  padding: 1rem;
  border-radius: 4px;
  min-width: 300px;
  max-height: 80vh;
  overflow-y: auto; /* optional scroll if needed */

  .item-list-in-modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .item {
    // spacing
    margin: $dc-calculator-margin-small;
    padding: $dc-calculator-padding-small;
    border-radius: 8px;

    // text size
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Cinzel', serif; // a nice fantasy vibe

    // text color
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text!important;
    color: transparent;
    
    // misc
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 1px $dc-calculator-color-shadow-strong;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.97);
    }

    @keyframes shimmer {
      0% {
        text-shadow: 0 0 1px $dc-calculator-color-text-inverse, 0 0 1px $dc-calculator-color-highlight, 0 0 1px $dc-calculator-color-highlight, 0 0 1px $dc-calculator-color-highlight, 0 0 1px $dc-calculator-color-text-inverse;
      }
      16.67% {
        text-shadow: 0 0 2px $dc-calculator-color-text-inverse, 0 0 2px $dc-calculator-color-highlight, 0 0 2px $dc-calculator-color-highlight, 0 0 2px $dc-calculator-color-highlight, 0 0 2px $dc-calculator-color-text-inverse;
      }
      33.33% {
        text-shadow: 0 0 3px $dc-calculator-color-text-inverse, 0 0 3px $dc-calculator-color-highlight, 0 0 3px $dc-calculator-color-highlight, 0 0 3px $dc-calculator-color-highlight, 0 0 3px $dc-calculator-color-text-inverse;
      }
      50% {
        text-shadow: 0 0 4px $dc-calculator-color-text-inverse, 0 0 4px $dc-calculator-color-highlight, 0 0 4px $dc-calculator-color-highlight, 0 0 4px $dc-calculator-color-highlight, 0 0 4px $dc-calculator-color-text-inverse;
      }
      66.67% {
        text-shadow: 0 0 3px $dc-calculator-color-text-inverse, 0 0 3px $dc-calculator-color-highlight, 0 0 3px $dc-calculator-color-highlight, 0 0 3px $dc-calculator-color-highlight, 0 0 3px $dc-calculator-color-text-inverse;
      }
      83.33% {
        text-shadow: 0 0 2px $dc-calculator-color-text-inverse, 0 0 2px $dc-calculator-color-highlight, 0 0 2px $dc-calculator-color-highlight, 0 0 2px $dc-calculator-color-highlight, 0 0 2px $dc-calculator-color-text-inverse;
      }
      100% {
        text-shadow: 0 0 1px $dc-calculator-color-text-inverse, 0 0 1px $dc-calculator-color-highlight, 0 0 1px $dc-calculator-color-highlight, 0 0 1px $dc-calculator-color-highlight, 0 0 1px $dc-calculator-color-text-inverse;
      }
    }

    &.shine {
      font-size: 2em;
      font-weight: bold;
      background-size: 200%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      animation: shimmer 2s infinite;
    }

  }
}
