@import './variables.scss';

.App-container {
  padding: 30px;
}

.dc-display {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.toggle-breakdown-btn {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
}

.breakdown-container {
  margin-top: 20px;
  background: lightgrey;
  border: none;
  padding: 15px;
  border-radius: 10px;
  color: black;
}

.breakdown-container h2 {
  margin-top: 0;
}

/* shard styling */
.shard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.shard-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $border-radius-medium;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.shard-num {
  background-color: #f9f9f9;
  border-radius: 50%;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  margin: 0;
  text-align: center;
  line-height: 17px;
  font-weight: 600;
}

.shard-btn {
  background-color: transparent;
  height: 35px;
  width: 43px;
  padding: 5px 15px 5px;
  color: white;

  &.White, &.Silver {
    color: black;
  }
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.shard-btn.add {
  border-radius: $border-radius-medium $border-radius-medium 0 0;
}
.shard-btn.sub {
  border-radius: 0 0 $border-radius-medium $border-radius-medium;
}

/* Player chance */
.player-effects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.whole-item {
  display: flex;
  flex-direction: column;
}

.editable-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.editable-title-input {
  font-size: 2rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}