@import "./variables.scss";

.effects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.effect-item {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    background-color: rgb(105, 185, 238);
    border-radius: 20px;
    gap: $margin-medium;
    padding: $padding-medium;
}

.effect-field {
    display: flex;
    flex-direction: column;

    label {
        margin-right: 5px;
        font-weight: bold;
        width: 100%;
    }

    select {
        width: min-content;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        min-height: 30px;
    }

    input {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: min-content;
        min-height: 20px;
    }
    
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
}
