@import "./variables.scss";

.effects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.effect-item {
    display: flex;
    height: fit-content;
    background-color: $color-surface-alt;
    border-radius: 6px;
    gap: $margin-medium;
    box-shadow: 0 0 4px 2px $color-shadow-strong;
    container-type: inline-size;
    
    h3 {
        padding: $padding-medium;
    }
    &.open {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        padding: $padding-medium;
    }
}

@container (min-width: 400px) {
    .effect-item.open {
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
    }
}

.effect-field {
    display: flex;
    flex-direction: column;

    * {
        font-size: 1.2rem;
    }

    &.checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}
