.player-chance-container {
  margin-bottom: 20px;
}

.player-chance-label {
  font-weight: bold;
  margin-right: 10px;
}

input .player-chance-input {
  padding: 2px 8px;
}

.player-chance-details {
  margin-bottom: 10px;
}
