.player-chance-container {
  margin-bottom: 20px;
}

.player-chance-label {
  font-weight: bold;
  margin-right: 10px;
}

.player-chance-input {
  width: 80px;
  min-height: 30px;
}

.player-chance-details {
  margin-bottom: 10px;
}
