.player-chance-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.player-chance-details {
  margin-bottom: 10px;
}

.player-chance-label {
  font-weight: bold;
  margin-right: 10px;
}

.player-chance-input {
  padding: 2px 8px;
}


.player-chance-text {
  width: 290px;
  max-width: 290px;
  text-align: center;
  position: absolute;
  top: 790%;
  right: -2%;
  z-index: 2;
  color: white;
}