@use './index' as *;

.contest-entry-card {
  display: flex;
  flex-direction: column;
  gap: $space-lg;
  text-align: left;
}

.contest-entry-card__header {
  display: grid;
  gap: 0.25rem;
}

.contest-entry-card__title {
  @include type-lg;
  margin: 0;
}

.contest-entry-card__creator {
  @include type-base;
  margin: 0;
  opacity: 0.8;
}

.contest-entry-card__totals {
  display: grid;
  gap: $space-md;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contest-entry-card__totals li {
  display: flex;
  justify-content: space-between;
  @include type-base;
}

.contest-entry-grid {
  display: grid;
  gap: $space-gap-normal;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
