.spans-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    grid-column-start: 1;
    gap: 8px;
}

@container (min-width: 400px) {
    .spans-grid {
        grid-column-end: none;
    }
}
.editable-description {
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
}

.spacing {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
