.description {
    margin: 0;
    grid-column-start: 1;
    max-width: 400px;
    @media screen and (min-width: 400px) {
        grid-column-end: none;
    }
}
.editable-description {
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
}